{% load apptags %}

<div class="dashboardcard_title"><a href="{% url 'gifterator_exchange_detail' ex_uuid=exchange.uuid %}">{{exchange.title}}</a></div>

{% if exchange in admin_exchanges %}
<div>
	<a class="btn btn-sm btn-primary float-right" href="{% url 'gifterator_exchange_admin_dashboard' ex_uuid=exchange.uuid %}">Manage</a>
</div>
{% endif %}
<div class="dashboardcard_subtitle mb-2 text-muted">
	Created by {{exchange.created_by.full_name}}
</div>

{% if exchange.description %}
	{% include 'gifterator/dashboard-includes/exchange-description-box.html'  %}
{% endif %}

<div class="dashboardcard_subtitle mb-2 text-muted">
	{% include 'gifterator/dashboard-includes/exchange-icon.html' with class='date' text=exchange.date %}
</div>
<div class="dashboardcard_subtitle mb-2 text-muted">
	{% include 'gifterator/dashboard-includes/exchange-icon.html' with class='cart' text=exchange.spending_limit|as_money %}
</div>

<div class="dashboardcard_subtitle mb-2 text-muted">
	{% include 'gifterator/dashboard-includes/exchange-icon.html' with class='location' text=exchange.location %}
</div>