{% load static apptags %}

<table class="table {% if giftexchange.participants_notified %}table-striped{% endif %}" id="table_assignment-list">
    {% for assignment in assignment_list.all %}
    <tr id="assignment_{{assignment.giver.email}}">
        <td>{{assignment.giver.first_name}} {{assignment.giver.last_name}}</td>
        <td><img class="dashboard-icons_arrow" src="{% static 'site-images/arrow.png' %}" /></td>
        <td>{{assignment.reciever.first_name}}  {{assignment.reciever.last_name}}</td>
        {% if giftexchange.participants_notified %}
        	<tr>
		        <td>
		        	<div class="resend-assignment default-hidden">
		        		<form method="POST">
		        			{% csrf_token %}
		        			<input 
		        				type="hidden" 
		        				name="assignment_id" 
		        				id="id_assignment_id" 
		        				value="{{assignment.pk}}" />
							<input 
								type="hidden" 
								id="id_js_target" 
								name="js_target" 
								value="notify-single-participant" />
			        		<input 
			        			type="submit" 
								class="btn btn-xsmall btn-primary js-single-notify" 
								value="Re-send Email" />
						</form>
			        </div>
		        </td>
	        	<td colspan="2">
	        		Mail sent: {{assignment.giver.email_last_sent|format_date_time}}
	        	</td>
		    </tr>
    	{% endif %}
    </tr>
    {% endfor %}
</table>
