
<div class="table-responsive-sm">
	<table class="table" id="table_participant-list">
		{% for participant in participant_list.all %}
		<tr id="participant_{{participant.user.email}}">
			<td>
				<form method="POST" action="">
					{% csrf_token %}
					<input 
						type="hidden" 
						id="id_user-email" 
						name="user-email" 
						value="{{participant.user.email}}" />
					<input 
						type="hidden" 
						id="id_js_target" 
						name="js_target" 
						value="remove-user" />
					<input 
						type="submit" 
						class="btn btn-xsmall btn-danger js-remove-user" 
						value="Remove" 
						/>
				</form>
			</td>
			<td>{{participant.first_name}}</td>
			<td>{{participant.last_name}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% if invited_list.count > 0 %}
	<h4>
		<div class="icon icon-add-person"></div>
		<div class="icon-text">Invited</div>
	</h4>

	<div class="table-responsive-sm">
		<table class="table" id="table_participant-list">
			{% for participant in invited_list.all %}
			<tr id="participant_{{participant.appuser.email}}">
				<td>
					<form method="POST" action="">
						{% csrf_token %}
						<input 
							type="hidden" 
							id="id_user-email" 
							name="user-email" 
							value="{{participant.appuser.email}}" />
						<input 
							type="hidden" 
							id="id_js_target" 
							name="js_target" 
							value="remove-user" />
						<input 
							type="submit" 
							class="btn btn-xsmall btn-danger js-remove-user" 
							value="Cancel" 
							/>
					</form>
				</td>
				<td>{{participant.first_name}}</td>
				<td>{{participant.last_name}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endif %}

{% if pending_count %}
<div>
<div>Pending invitations: {{pending_count}}</div>
</div>
{% endif %}