/* Variables */
$screen-sm-min: 360px;
$screen-md-min: 768px;

$app-primary: #21618C;
$navbar-font: 'Nunito', sans-serif;
$nabar-font-color: #462202;
$header-bg-color: #ea862f;
$body-header-color: #3E3C3C;

$bootstrap-warning: #F9E9BA;
$bootstrap-success: #39884B;
$bootstrap-primary: #23618B;
$bootstrap-danger: #9C3640;

$body-font-color: #462202;
$body-font: 'Lato', sans-serif;
$body-font-weight: 300;
$body-color: #fbf9f5;


/* Bootstrap overrides */

ol.breadcrumb {
	background-color: inherit;
}

li.breadcrumb-item {
	font-weight: bold;
}

li.breadcrumb-item.active {
		font-weight: normal;
		color: $nabar-font-color;
	}

li.list-group-item {
	border: 0;
}

.navbar-light {
	background-color: $header-bg-color !important;
	color: #000000;
	a {
		font-family: $body-font;
		color: #FFFFFF !important;
		font-weight: bold;
	}

}

.navbar {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: $navbar-font;
	a.navbar-brand {
		font-family: $navbar-font;
		color: $nabar-font-color !important;
		font-weight: bold;
		font-size: 1.5rem;
	 	@media (min-width: #{$screen-md-min}) {	
			font-size: 2.8rem;
	 	}
		img {
			margin-right: .3rem;
			margin-top: -1rem;
			width: 3rem;
		 	@media (min-width: #{$screen-md-min}) {	
				width: 4rem;
		 	}
		}
	}
	a.nav-link {
		font-size: 1.2rem;
		color: $nabar-font-color !important;
	}
	img.profile-icon{
		width: 3rem;
	}
} 

.navbar-light .navbar-nav .nav-link {
	font-family: $navbar-font;
}

img#header-image{
	width: 2.7rem;
	height: 2.7rem;	
}

.btn {
	&-warning {
		background-color: $bootstrap-warning;
		border-color: $bootstrap-warning;
		&:hover {
			background-color: #F9E9BA;
			border-color: #F9E9BA;
		}
	}
	&-primary {
		background-color: $bootstrap-primary;
		border-color: $bootstrap-primary;
		&:hover {
			background-color: $bootstrap-primary;
			border-color: $bootstrap-primary;
		}
	}
	&-success {
		background-color: $bootstrap-success;
		border-color: $bootstrap-success;
		&:hover {
			background-color: $bootstrap-success;
			border-color: $bootstrap-success;
		}
	}
	&-danger {
		background-color: $bootstrap-danger;
		border-color: $bootstrap-danger;
		&:hover {
			background-color: $bootstrap-danger;
			border-color: $bootstrap-danger;
		}
	}
}
.col-sm-margin-top {
	margin-top: 1rem;
 	@media (min-width: #{$screen-md-min}) {	
 		margin-top: 0;
 	}
}

/* Django overrides */


/* this make's Django's native form error list look like Bootstrap's danger alert */
ul.errorlist {
	list-style-type: none;
    padding-inline-start: 0;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #F5C6CB; 
    background-color: #F8D7DA;
}

span.helptext{
	display: block;
    font-style: italic;
    font-size: .8rem;
    &_required {
    	color: red;
    }
}


/* Session manager base styles */


/* page layout */
.page-container {
  position: relative;
  min-height: 100vh;
 }

 .content-container {
 	padding-bottom: 20rem;
 	@media (min-width: #{$screen-md-min}) {	
 		padding-bottom: 14rem;
 	}
 }

.footer {
	bottom: 0;
	position: absolute;
	left: 0;
	margin-top: 5rem;
	width: 100%;
	background-color: $header-bg-color;
	color: $nabar-font-color !important;
	padding: 2rem 0;
	a {
		color: $nabar-font-color !important;
		text-decoration: underline;
	}
}

#loader {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    z-index: 10;
    &-spinner {
	    position: absolute;
	    top: 50%;
	    left: 50%;
    }
    img {
    	width: 10rem;
    	margin-left: -5rem;
    }
}

/* site styles */
body {
	font-family: $body-font;
	font-weight: $body-font-weight;
	color: $body-font-color;
	background-color: $body-color;
	a {
		color: $app-primary;
	}
}

h1, h2, h3, h4 {
	color: $nabar-font-color;
	font-family: $navbar-font;
}

h2 {
	font-size: 1.3rem;
}

.margin-top-1 {
	margin-top: 1rem;
}

.margin-top-2 {
	margin-top: 3rem;
}

.main-content {
	padding-top: 1rem;
}

.default-hidden {
	display: none !important;
}


.as-table {
	display: table;
	border-collapse: collapse;
	width: 100%;
	.as-row {
		display: table-row;
	}
	.as-row-on-small {
		display: table-row;
		@media (min-width: #{$screen-md-min}) {
			display: inline;
		}
	}

	.as-cell {
		display: table-cell;
		&_xs {
			width: 7rem;
		}
	}
}

.as-header {
	font-weight: bold;
}

.collapse-on-small {
	display: none;
	@media (min-width: #{$screen-md-min}) {
		display: inherit;
	}
}

.expand-on-small {
	display: inherit;
	@media (min-width: #{$screen-md-min}) {
		display: none;
	}
}

.icon-text {
    display: inline-flex;
    vertical-align: top;
    padding-top: .3rem;
    &_alert {
    	padding-left: 1.5rem;
    }
    &-large {
    	padding-top: 0;
    	font-size: 1.5rem;
    }
    &-button {
    	padding-top: .4rem;
    	font-size: 1.2rem;
    	margin-left: .7rem;
    }
}
.icon {
	width: 2rem;
    height: 2rem;
    background-size: cover;
    display: inline-flex;
	&-date {
		background-image: url("vendors/miscellaneous-elements/png/039-calendar.png")
	}
	&-person {
		background-image: url("vendors/miscellaneous-elements/png/008-user.png")
	}
	&-person-multi {
		background-image: url("vendors/miscellaneous-elements/png/020-users.png")
	}
	&-add-person {
		background-image: url("vendors/miscellaneous-elements/png/005-user.png")
	}
	&-location {
		background-image: url("vendors/miscellaneous-elements/png/044-placeholder.png")
	}
	&-heart {
		background-image: url("vendors/miscellaneous-elements/png/004-heart.png")
	}
	&-cart {
		background-image: url("vendors/miscellaneous-elements/png/093-shopping cart.png")
	}
	&-giftbox {
		background-image: url("img/giftbox.png")
	}
	&-giftbox-white {
		background-image: url("img/giftbox-white.png")
	}
	&-success {
		background-image: url("vendors/miscellaneous-elements/png/069-bell.png")
	}
	&-error {
		background-image: url("vendors/miscellaneous-elements/png/076-megaphone.png")
	}
	&-warning {
		background-image: url("vendors/miscellaneous-elements/png/099-shield.png")
	}
	&-info {
		background-image: url("vendors/miscellaneous-elements/png/010-information.png")
	}
	&-inline-small {
		width: 1.3rem;
	}
}

.dashboardcard {
 	@media (min-width: #{$screen-md-min}) {	
 		width: 18rem;
 	}
	&_title {
		font-weight: bold;
		color: #4A4A4A;
		font-size: 1.5rem;
	}
	&_subtitle {

	}
	&-description {
		padding-top: 1rem;
		padding-bottom: 1rem;
		&_text {
			background-color: #ECECEC;
			padding: 1rem .1rem 1rem 1rem;
		}
	}
	&-userinfo {
		&_text {
			padding-left: 2.2rem;
		}
		&_link {
			padding-top: 1rem;
		}
	}
	margin-bottom: 2rem;
}

.tools-icons {
	&_arrow {
		width: 1.5rem;
	}
	&_flip90 {
		transform: rotate(90deg);
	}
	&_action {
		width: 2rem;
	}
}

.email-preview {
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	padding: 2rem;
	width: 80%;
	margin: 0 auto;
	&_help {
		text-align: center;
		color: red;
		font-weight: bold;
		font-size: 2 rem;
		padding-bottom: 2rem;
	}
	&_header {
		margin-bottom: 2rem;
		padding: 1rem 0;
		border-top: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
	}
}

form.inline {
	display: inline !important;
	input.submit {
		border: none;
		background-color: inherit;
		color: blue;
		&:hover {
			text-decoration: underline;
		}
	}
}