{% extends 'base/project_base.html' %}
{% load static apptags %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/expandCollapsToggle.js' %}"></script>
{% endblock %}
{% block page_content %}
<div class="row margin-top-1">
	<div class="col">
		<h2>{{giftexchange.title}}</h2>
	</div>
</div>
{% with giftexchange as exchange %}
	{% include 'gifterator/dashboard-includes/exchange-description-box.html'  %}
	<div class="row margin-top-1">
		<div class="col">
			{% include 'gifterator/dashboard-includes/exchange-icon.html' with class='date' text=exchange.date %}
		</div>
		<div class="col">
			{% include 'gifterator/dashboard-includes/exchange-icon.html' with class='location' text=exchange.location %}
		</div>
		<div class="col">
			{% include 'gifterator/dashboard-includes/exchange-icon.html' with class='cart' text=exchange.spending_limit|as_money %}
		</div>
	</div>
{% endwith %}

		<div class="row margin-top-1">
			{% if giftexchange.participants_notified %}
				{% with assignment.reciever as reciever %}
					<div class="col-sm-6">
						<div class="icon icon-person"></div>
						<div class="icon-text">Assignment</div>
						<div>
							<p class="font-weight-bold margin-top-1">
								You are getting a gift for {{reciever.full_name}}!
							</p>
							<p>{{reciever|display_likes}}</p>
							<p>{{reciever|display_dislikes}}</p>
							<p>{{reciever|display_allergies}}</p>
							{% if reciever.provided_shipping_address %}
								<p>You can send {{reciever.first_name}}'s gift to:<br />
								{{reciever.provided_shipping_address}}</p>
							{% endif %}
							<p>
							Please get a gift by {{giftexchange.date}} costing no more than ${{giftexchange.spending_limit}}
							</p>
						</div>
						{% if assignment_lists %}
							<div>
								<p class="font-weight-bold">Need some ideas? Here's some stuff that {{reciever.first_name}} wants:</p>
								<ul class="list-group"> 
								{% for list in assignment_lists %}
									{% for item in list.giftlistitem_set.all %}
									<li class="list-group-item">
										{% if item.web_link %}
											<a href="{{item.web_link}}" target="_blank">
												{{item.name}} <img class="icon-inline-small" src="{% static 'site-images/offsite-link-icon.png' %}" />
											</a>
										{% else %}
											{{item.name}}
										{% endif %}
										{% if item.description %}
										<p>
											<span class="helptext">{{item.description}}</span></p>
										{% endif %}
									</li>
									{% endfor %}
								{% endfor %}
								</ul>
							</div>
						{% endif %}
					</div>
				{% endwith %}
			{% endif %}
			<div class="col-sm-6 col-sm-margin-top">
				<div class="icon icon-person"></div>
				<div class="icon-text">Your Details</div>
				<p>{{participant|display_likes}}</p>
				<p>{{participant|display_dislikes}}</p>
				<p>{{participant|display_allergies}}</p>
				{% if participant.provided_shipping_address %}
					<p>You can send {{participant.first_name}}'s gift to:<br />
					{{participant.provided_shipping_address}}</p>
				{% endif %}
				<div>
					{% if not linked_giftspo_lists %}
					<div class="alert alert-warning">
						You don't have any Giftspo lists linked to this gift exchange. Help your giver out by linking a Giftspo list!
					</div>
					{% endif %}
					<table class="table" id="linked-lists">
						{% for list_link in linked_giftspo_lists %}
							<tr>
								<td>{{list_link.giftlist.nickname}}</td>
								<td>
									<form method="POST" action="">
										{% csrf_token %}
										<input type="hidden" id="id_linked-list" name="linked-list" value="{{list_link.pk}}" />
										<input 
											type="submit" 
											id="id_remove-list"
											class="btn btn-danger btn-sm"
											name="remove-list"
											value="Remove" />
									</form>
								</td>
								<td>
									<a 
										href="{% url 'gifterator_user_giftspo_edit' list_uuid=list_link.giftlist.uuid %}"
										class="btn btn-primary btn-sm"
									>Edit</a>
								</td>
							</tr>
						{% endfor %}
						{% if available_lists %}
						<form method="POST" action="">
							<tr>
								<td colspan="2">
									{% csrf_token %}
									<select id="id_list" name="list" class="form-control">
										{% for available_list in available_lists %}
										<option value="{{available_list.pk}}">
											{{available_list.nickname}}
										</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<input 
										type="submit" 
										id="id_link-list"
										class="btn btn-success btn-sm"
										name="link-list"
										value="Link" />
								</td>
							</tr>
						</form>
						{% endif %}
						<tr>
							<td colspan="100%">
								<a href="{% url 'gifterator_user_giftspo_dashboard' %}">Manage Giftspo Lists</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

<div class="row margin-top-2">
	<div class="col">
		<div class="icon icon-person-multi"></div>
		<div class="icon-text">Participants</div>
	</div>
</div>
<div class="expand-on-small margin-top-1">
	<div class="as-table">
		{% for participant in giftexchange.exchangeparticipant_set.all %}
			{% if participant.status == 'active' %}
			<div class="as-row">
				<div class="as-cell as-cell_xs font-weight-bold">{{participant.full_name}}</div>
				<div class="as-cell"></div>
			</div>
			<div class="as-row">
				<div class="as-cell">likes:</div>
				<div class="as-cell">
					{{participant.likes}}
				</div>
			</div>
			<div class="as-row">
				<div class="as-cell">dislikes:</div>
				<div class="as-cell">
					{{participant.dislikes}}
				</div>
			</div>
			<div class="as-row border-bottom">
				<div class="as-cell"></div>
				<div class="as-cell"></div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<div class="collapse-on-small margin-top-1">
	<div class="as-table as-table_striped">
	{% for participant in giftexchange.exchangeparticipant_set.all %}
		{% if participant.status == 'active' %}
			<div class="as-row border-bottom">
				<div class="as-cell font-weight-bold">{{participant.full_name}}</div>
				<div class="as-cell">
					<div class="as-table">
						<div class="as-row">
							<div class="as-cell as-cell_xs">Likes:</div>
							<div class="as-cell">{{participant.likes}}</div>
						</div>
						<div class="as-row">
							<div class="as-cell as-cell_xs">Dislikes:</div>
							<div class="as-cell">{{participant.dislikes}}</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	</div>
</div>

{% endblock %}