{% load apptags %}
{% block form %}
	{% if form %}
		<form
			method="POST" 
			action="{{form_action}}"
			id="{% if form_id %}{{form_id}}{% else %}id_form{% endif %}"
			class="form {% if form_class %} {{form_class}}{% endif %}"
		>
		{% csrf_token %}
		<table class="table">
			{% if form %}
				{{form.as_p}}
			{% endif %}
			<tr>
				<td colspan="100%">
					<input 
						type="submit" 
						class="btn btn-primary form-control" 
						value="{% if submit_text %}{{submit_text}}{% else %}Submit{% endif %}"
						id="id_{% if submit_id %}{{submit_id}}{% else %}submit{% endif %}"
						name="{% if submit_id %}{{submit_id}}{% else %}submit{% endif %}"
					/>
				</td>
			</tr>
		</table>
		</form>
	{% endif %}
{% endblock %}


{% block form_js %}
<script>
	$(document).ready(function(){
		$(function() {
			$( ".datepicker" ).datepicker({
				changeMonth: true,
				changeYear: true,
				dateFormat: 'yy-mm-dd',
			});
		});
	});
 </script>
 {% endblock %}