{% extends 'base/project_base.html' %}
{% block page_content %}
	<div class="row">
		<div class="col">
			<div><a class="btn btn-primary" href="{% url 'session_manager_profile_reset_password' %}">Reset password</a></div>
			<div><a class="btn btn-primary margin-top-1" href="{% url 'session_manager_logout' %}">Log out</a></div>
		</div>
	</div>
	<div class="row margin-top-1">
		<div class="col">
			<h2>Contact Information</h2>
			<div class="as-table">
				{% if show_username %}
				<div class="as-row">
					<div class="as-cell">Username:</div> 
					<div class="as-cell">{{request.user.username}}</div>
				</div>
				{% endif %}
				<div class="as-row">
					<div class="as-cell">First name:</div> 
					<div class="as-cell">{{request.user.first_name}}</div>
				</div>
				<div class="as-row">
					<div class="as-cell">Last name:</div> 
					<div class="as-cell">{{request.user.last_name}}</div>
				</div>
				<div class="as-row">
					<div class="as-cell">Email:</div> 
					<div class="as-cell">{{request.user.email}}</div>
				</div>
				<div class="as-row">
					<div class="as-cell"></div> 
					<div class="as-cell">
						<a href="{% url 'session_manager_profile_update' %}" class="btn btn-primary float-right">Update</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col margin-top-1">
			<h2>Gift exchange settings</h2>
			<div class="as-table">
				<div class="as-row">
					<div class="as-cell">Likes:</div> 
					<div class="as-cell">{{request.user.appuser.userdefault.likes}}</div>
				</div>
				<div class="as-row">
					<div class="as-cell">Dislikes:</div> 
					<div class="as-cell">{{request.user.appuser.userdefault.dislikes}}</div>
				</div>
				<div class="as-row">
					<div class="as-cell">Allergies/<br />sensitivites:</div> 
					<div class="as-cell">{{request.user.appuser.userdefault.allergies_or_sensitivities}}</div>
				</div>
				<div class="as-row">
					<div class="as-cell">Shipping address:</div> 
					<div class="as-cell">
					{{request.user.appuser.userdefault.shipping_address}}</div>
				</div>
				<div class="as-row">
					<div class="as-cell"></div> 
					<div class="as-cell">
						<a href="{% url 'gifterator_user_manager_defaults' %}" class="btn btn-primary float-right">Update</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

