{% load static apptags %}
<table width="100%" style="margin: 0 auto;">
	<tr style="width: 100%">
		<th colspan="100%">
			<div style="background-image: linear-gradient(to bottom, #2A439E, #ffffff); height: 90px;">
				<div style="
					padding-top: 20px; 
					font-family: sans-serif; 
					font-size: 30px; 
					text-align: center;">{{APP_NAME}}</div>
			</div>
		</th></tr>
	<tr>
		<td>
			<div style="min-height: 400px; width: 100%;">
				<div style="width: 60%; margin: 0 auto; font-size: 20px;">
					{% block email_body %}
					{% endblock %}
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>		
			<div style="width: 60%; margin: 0 auto; font-size: 13px; font-style: italic; color: #8C8C8C; padding-top: 10rem;">
				Do you think you got this email in error? Contact us at <a href="mailto:{{reply_to}}">{{reply_to}}</a>
			</div>
			<div style="height: 20px; background-image: linear-gradient(to top, #2A439E, #ffffff);">
			</div>
		</td>
	</tr>
</table>